card {
    margin: 20%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    padding: 10%;
}
.div-form {
    position: relative;
    border-radius: 6px;
    padding: 25px;
    text-align: left;
    max-width: 55%;
    background-color: #fff;
    box-shadow: 5px 15px 5px 5px rgb(0 0 0 / 40%);
    box-sizing: content-box;
    width: auto;
    height: auto;
    margin: auto;
}

.card-header,h3 {
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}