@page "/signup"


<div class="box d-flex my-auto justify-content-center">
    <a class="student" href="/signup/student">
        <div>
            <div class="oi oi-book text-center">
                <h4>Rejestracja jako student</h4>
            </div>
        </div>
    </a>
    <a class="keeper" href="/signup/keeper">
        <div>
            <div class="oi oi-person text-center">
                <h4>Rejestracja jako opiekun praktyk</h4>
            </div>
        </div>
    </a>
</div>