<div class="text-center auth">
    <img src="/css/AuthFaild.png" class="img-fluid" alt="auth"/>
    <h3>
        Chornimy naszą zawartość, w celu wyświetlenia treści prosimy o autoryzację!
    </h3>
</div>
