@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<div style=" margin: auto; width: 50%; padding:3rem">
    <h1>@ViewData["Title"]</h1>
    <section>
        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Hasło</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Input.RememberMe" />
                        Zapamiętaj mnie!
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Zaloguj się</button>
            </div>
            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasło?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się.</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Wyślij ponownie potwierdzenie rejestracji.</a>
                </p>
            </div>
        </form>
    </section>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
