@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<div style=" margin: auto; width: 50%; padding: 3rem">
    <h1>@ViewData["Title"]</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Input.Email" class="form-control " />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Hasło</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Potwierdź hasło</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
