<div class="text-center auth">
    <img src="/css/AuthFaild.png" class="img-fluid" alt="auth" />
    <h3>
        Chornimy naszą zawartość, w celu wyświetlenia treści prosimy o <a href="/login" class="alert-link">autoryzację!</a>
    </h3>
</div>