<div class="alert alert-danger text-center mt-5 mb-5 ml-5 mr-5" role="alert">
    <h4 class="alert-heading"><i class="oi oi-circle-x"></i>Brak danych!</h4>
    <p>Coś poszło nie tak. Proszę spróbować póżniej.</p>
    <hr>
    <p class="mb-0">Jeśli problem się utrzymję proszę skontaktować się z <a href="#" class="alert-link">obsługą techniczną</a>.Kliknij, jeśli chcesz.</p>
    <p>Zrobimy wszystko by problem się nie powtórzył!</p>
</div>